# **PANDAS**

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

## **Introduction**


*  Pandas was created by Wes Mckinney in 2008.
*  First version was released in 2009.
*  Pandas means Panel Data or Python Data Analysis.
*  The source code for Pandas is located at this github repository https://github.com/pandas-dev/pandas

In [3]:
import pandas as pd # pd is alias

### Series

In [44]:
# Series data is a 1D array (it has columns or rows , anyone based on our interpretation ) in a Pandas
# It is a one dimensional array holding any datatypes
x = [1, -54, "s", 586]
y = pd.Series(x)    # S in Series should be in Capital
print(y)
y = pd.Series(x, index = ["a", "b", "c", "d"]) # To give index
print(y)
print(y[1]) # This given below warning
print(y.iloc[1])  # Correct way to access by position
# dtype :object means it holds two or more data types

0      1
1    -54
2      s
3    586
dtype: object
a      1
b    -54
c      s
d    586
dtype: object
-54
-54

<ipython-input-44-8b79fe2f9a6e>:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(y[1]) # This given below warning

In [43]:
x = [1, -54, 47, 586]
y = pd.Series(x, index = ["a", "b", "c", "d"], dtype = "float") # To give data type
y

a      1.0
b    -54.0
c     47.0
d    586.0
dtype: float64

In [12]:
x = { "car": ["diesel", "petrol", "EV"], "brand": ["Toyoto", "Ford", "tesla"], "price": ["35k", "30k", "45k"]}
y = pd.Series(x)
y

car       [diesel, petrol, EV]
brand    [Toyoto, Ford, tesla]
price          [35k, 30k, 45k]
dtype: object

### DataFrame
*   Pandas DataFrame is a 2 Dimensional Data structure similar to table with rows and columns.

In [33]:
x = { "car": ["diesel", "petrol", "EV"], "brand": ["Toyoto", "Ford", "tesla"], "price": ["35k", "30k", "45k"]}
y = pd.DataFrame(x, index = ["frist car","second car","third car"]) #D and F capital
print(y)
print(y.iloc[2]) # to print specific row data with index we use iloc , to acess with name we use simple loc[car]
y.loc["third car", "car"] #EV is returned as we used loc attribute and accessed data with row_name, cloumn_name

               car   brand price
frist car   diesel  Toyoto   35k
second car  petrol    Ford   30k
third car       EV   tesla   45k
car         EV
brand    tesla
price      45k
Name: third car, dtype: object

'EV'

### Loading Data files

In [38]:
# Loading csv file into DataFrame
data_df = pd.read_csv("https://raw.githubusercontent.com/sadiq937/Pandas_Application/refs/heads/main/student.csv")
print(data_df.to_string()) # to display entire file
print(pd.options.display.max_rows) # u can also set no of rows to be displayed

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female
60

In [41]:
pd.options.display.max_rows = 25 # to set max no of rows to be displayed as 25, by default it would be 60

In [42]:
# Loading json file into DataFrame
sample_df = pd.read_json("https://raw.githubusercontent.com/sadiq937/Pandas_Application/refs/heads/main/sample.json")
print(sample_df)

  student_id              name  age             major  \
0       S001       Alice Smith   20  Computer Science
1       S002       Bob Johnson   22       Engineering
2       S003  Charlie Williams   21           Biology

                                       grades
0  {'math': 90, 'english': 85, 'science': 92}
1  {'math': 78, 'english': 88, 'physics': 95}
2  {'math': 85, 'english': 92, 'biology': 88}

### *DataFrame - Operations*

#### i. Adding a Column

In [52]:
sample_df["graduation_year"] = 22 - sample_df["age"]  + 2025 # Adding new colomun and numerical operations btw columns
sample_df

,student_id,name,age,major,grades,age_above18,name_major,graduation_year
0,S001,Alice Smith,20,Computer Science,"{'math': 90, 'english': 85, 'science': 92}",Alice SmithComputer Science,Alice SmithComputer Science,2027
1,S002,Bob Johnson,22,Engineering,"{'math': 78, 'english': 88, 'physics': 95}",Bob JohnsonEngineering,Bob JohnsonEngineering,2025
2,S003,Charlie Williams,21,Biology,"{'math': 85, 'english': 92, 'biology': 88}",Charlie WilliamsBiology,Charlie WilliamsBiology,2026

In [53]:
sample_df["name_major"] = sample_df["name"] + sample_df["major"] # We can add columns of same dtype (here added string)
sample_df

,student_id,name,age,major,grades,age_above18,name_major,graduation_year
0,S001,Alice Smith,20,Computer Science,"{'math': 90, 'english': 85, 'science': 92}",Alice SmithComputer Science,Alice SmithComputer Science,2027
1,S002,Bob Johnson,22,Engineering,"{'math': 78, 'english': 88, 'physics': 95}",Bob JohnsonEngineering,Bob JohnsonEngineering,2025
2,S003,Charlie Williams,21,Biology,"{'math': 85, 'english': 92, 'biology': 88}",Charlie WilliamsBiology,Charlie WilliamsBiology,2026

#### ii. Removing a Column

In [57]:
sample_df.pop("name_major")
sample_df

,student_id,name,age,major,grades,age_above18,graduation_year
0,S001,Alice Smith,20,Computer Science,"{'math': 90, 'english': 85, 'science': 92}",Alice SmithComputer Science,2027
1,S002,Bob Johnson,22,Engineering,"{'math': 78, 'english': 88, 'physics': 95}",Bob JohnsonEngineering,2025
2,S003,Charlie Williams,21,Biology,"{'math': 85, 'english': 92, 'biology': 88}",Charlie WilliamsBiology,2026

In [60]:
del sample_df["age_above18"]
sample_df

,student_id,name,age,major,grades
0,S001,Alice Smith,20,Computer Science,"{'math': 90, 'english': 85, 'science': 92}"
1,S002,Bob Johnson,22,Engineering,"{'math': 78, 'english': 88, 'physics': 95}"
2,S003,Charlie Williams,21,Biology,"{'math': 85, 'english': 92, 'biology': 88}"

#### iii. Inserting a Column

In [ ]:
sample_df.insert(2, "year of birth", [2004,2002,2001])
print(sample_df)